/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFAF2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Cabeçalho */
header {
    width: 100%;
    padding: 1em;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-bar {
    display: flex;
    gap: 1em;
}

/* Barra de Pesquisa */
.top-bar input {
    padding: 0.5em;
    width: 60%;
}

.top-bar button {
    padding: 0.5em 1em;
    cursor: pointer;
}

/* Seção de Logo e Informações */
.logo-section {
    text-align: center;
    margin-top: 2em;
    position: relative;
    top: 0;
    
}

.logo {
    width: 200px;
    height: auto;
    position: relative;
    
}

.info {
    text-align: center;
    margin-top: 1em;
}

/* Botão para ver produtos */
.button-section {
    text-align: center;
    margin-top: 1em;
}

button {
    background-color: #EB8D96;
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
    border-radius: 5px;

}

button:hover {
    background-color: #ffbdbd;
}

/* Estilo dos Produtos */
.produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    margin-top: 2em;
}

.produto {
    background-color: #fff;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.produto img {
    width: 100px;
    height: 150px;
}

.produto h2, .produto p {
    margin: 0.5em 0;
}

.slideshow {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.slide {
    width: 100%;
    height: 50%;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
